/*
 * 1em = 12pt = 16px = 0.3515mm
 */

$debug: false;

.nus-degree {
    @import url(//db.onlinewebfonts.com/c/f836c9da811eada4f862d37f796b91cd?family=RotisSerif);
    @font-face {font-family: "RotisSerif";
        src: url("//db.onlinewebfonts.com/t/f836c9da811eada4f862d37f796b91cd.eot");
        src: url("//db.onlinewebfonts.com/t/f836c9da811eada4f862d37f796b91cd.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/f836c9da811eada4f862d37f796b91cd.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/f836c9da811eada4f862d37f796b91cd.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/f836c9da811eada4f862d37f796b91cd.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/f836c9da811eada4f862d37f796b91cd.svg#RotisSerif") format("svg");
    }

    @import url(//db.onlinewebfonts.com/c/128906b334cbabae86ec31c02a30b791?family=Ribbon+131);
    @font-face {font-family: "Ribbon 131";
        src: url("//db.onlinewebfonts.com/t/128906b334cbabae86ec31c02a30b791.eot");
        src: url("//db.onlinewebfonts.com/t/128906b334cbabae86ec31c02a30b791.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/128906b334cbabae86ec31c02a30b791.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/128906b334cbabae86ec31c02a30b791.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/128906b334cbabae86ec31c02a30b791.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/128906b334cbabae86ec31c02a30b791.svg#Ribbon 131") format("svg");
    }

    @if ($debug) {
        table td {
            border: 1px solid blue;
        }

        div {
            border: 1px solid blue;
        }
    }

    font-family: Arial, Serif;

    .a3-portrait {
        background: lightyellow;
        height: 42cm;
        width: 29.7cm;
        display: block;
        margin: 0 auto;
        padding: 0px 30px;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
        overflow-y: hidden;
        box-sizing: border-box;
    }

    .cert-header-table {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
    }

    .cert-header-name {
        display: float;
        font-size: 18pt;
		text-align: center;
        font-family: 'RotisSerif', 'Palatino Linotype', 'Times New Roman', Times, serif;
        color: rgb(83, 86, 90);
    }

    .cert-logo-nus {
        display: float;
        width: 2.7cm;
    }

	.cert-logo-anu {
        display: float;
        width: 3.87cm;
    }

    .cert-seal {
        display: float;
        width: 4.95cm;
    }

    .cert-content-table {
        display: float;
        font-size: 18pt;
        font-family: 'RotisSerif', 'Palatino Linotype', 'Times New Roman', Times, serif;
        color: rgb(83, 86, 90);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }

    .cert-content-name {
        display: float;
        font-size: 60pt;
        font-family: 'Ribbon 131', 'Brush Script MT', 'Times New Roman', Times, serif;
        text-align: center;
        text-transform: capitalize;
    }

    .cert-degree-title {
        display: float;
        font-size: 32pt;
        // Font should be Rotis Serif
		font-family: 'RotisSerif', 'Palatino Linotype', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-feature-settings: smcp;
        text-align: center;
        text-transform: capitalize;
        color: black;
        border: 0px solid;
    }

    .cert-sig {
        display: float;
        width: 100%;
        font-size: 16pt;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        color: rgb(83, 86, 90);
        text-align: left;
        border: 0px solid;
    }
}
