@import '../../styles/variables.scss';

.verifyBlocksContainer {
  position: absolute;
  z-index: 1;
}

.simple-verify-block {
  min-width: 300px;
  border-radius: 5px;
  color: white;
  height: 100%;
  box-shadow: 2px 2px 4px 0 $grey-blue;
  div {
<<<<<<< Updated upstream
    padding: 2px 0;
    height: 100%;
    margin: auto 0;
  }
  
}
@mixin block-color($color) {
  background-color: $color;
  border: 1px solid $color;

  &:hover {
    box-shadow: 2px 2px 6px 0 #a7afb7;
  }

  &.active {
    color: $color;
    background-color: #fff;
    #circle {
      fill: $color
    }
    #check {
      fill: #fff;
    }
    svg > polyline {
      stroke: $color;
    }
  }
}

.arrow {
  height:100%;
  margin: auto;
=======
    margin: 2px 0;
  }
>>>>>>> Stashed changes
}

.valid {
  @include block-color($success-color);
}

.warning {
  @include block-color($warning-color);
}

.invalid {
<<<<<<< Updated upstream
  @include block-color($invalid-color);
=======
  background-color: $invalid-color;
>>>>>>> Stashed changes
}

.verification-text {
  font-size: 1.25rem;
}