@import '../../styles/variables.scss';

.detailed-certificate-block {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  min-width: 340px;
  z-index: 100;
  box-shadow: 2px 2px 4px 0 $grey-blue;
}

.valid-border-color {
  border-color: $success-color;
}

.warning-border-color {
  border-color: $warning-color;
}

.invalid-border-color {
  border-color: $invalid-color;
}

@media only screen and (max-width: 550px) {
  .detailed-certificate-block {
    min-width: 300px;
  }
}