.backgroundSection {
  height: 300px;
  width: 100%;
  background-size: contain;
}

.backgroundLogoContainer {
  text-align: center;
}

.backgroundSectionLogo {
  max-width: 100%;
  padding: 20px;
}

.contentSection {
  padding: 50px;
}

.contentSectionText {
  text-align: center;
  font-size: 1.5em;
}

.contentSectionName {
  font-weight: 800;
  color: #f3791f;
}

.contentSectionQuote {
  font-weight: 800;
  color: #f3791f;
}

.footerSection {
  text-align: center;
}

.govtechLogo {
  max-width: 100%;
  padding: 20px 50px 20px 50px;
}

.courseDateText {
  color: white;
  font-weight: 800;
  font-size: 2em;
}

.footerSection h3 {
  color: black;
}

@media (min-width: 992px) {
  .backgroundSection {
    height: 100vh;
    width: 100%;
    background-size: auto;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
    clip-path: polygon(0 0, 0% 100%, 100% 0);
  }

  .backgroundLogoContainer {
    position: relative;
    left: -20%;
    top: 15%;
  }

  .contentSection {
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 50%;
  }

  .contentSectionQuote {
    font-size: 1.1em;
  }

  .contentSectionName {
    font-size: 2.2em;
  }

  .contentSectionText {
    text-align: right;
  }

  .footerSection {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 50%;
  }

  .govtechLogo {
    padding: 0;
  }
}
