{
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb-base",
    "prettier",
    "plugin:testcafe/recommended"
  ],
  "env": {
    "mocha": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "prettier",
    "chai-friendly",
    "chai-expect",
    "mocha",
    "testcafe"
  ],
  "globals": {
    "artifacts": false,
    "contract": false,
    "assert": false,
    "expect": true,
    "window": true,
    "document": true
  },
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "func-names": ["error", "as-needed"],
    "react/react-in-jsx-scope": "off",
    "prettier/prettier": "error",
    "no-unused-expressions": "off",
    "mocha/no-exclusive-tests": "error",
    "chai-friendly/no-unused-expressions": [
      "error",
      { "allowTaggedTemplates": true }
    ],
    "chai-expect/no-inner-compare": "error",
    "chai-expect/missing-assertion": "error",
    "chai-expect/terminating-properties": "error",
    "prefer-destructuring": "off",
    "import/prefer-default-export": "off"
  }
}
