@import '../../styles/variables.scss';

.main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    width: 100%;
    height: 100%;

    h1 {
        color: $brand-dark;
    }
    
}

.header-container {
    padding: 3rem;
}

.title {
    text-align: center;
}

.content-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1.5rem 0;


    h4 {
        padding: 0;
        font-weight: 600;
        color: $brand-orange;
        margin-bottom: 0;
    }
}

.question {
    font-size: 1.125rem;

    h5 {
        padding: 0;
        font-weight: 600;
        color: #5a5a5a;
    }
}

.answer {
    color: $brand-dark;
}

