@import '../../styles/main.scss';

.section {
  @include l-hero-padding-t;

  h1 {
    color: $brand-dark;
  }

  h4 {
    font-weight: 600;
    color: $brand-orange;
    margin-bottom: 0;
  }

  h5 {
    font-weight: 600;
    color: #5a5a5a;
  }
}
