/* 
 * 1em = 12pt = 16px = 0.3515mm
 */

$debug: false;

.nus-degree {

    @if ($debug) {
        table td {
            border: 1px solid blue; 
        }

        div {
            border: 1px solid blue; 
        }
    }
    
    font-family: Arial, Serif; 
    
    .a4-portrait { 
        background: white; 
        height: 29.7cm; 
        width: 21cm; 
        display: block; 
        margin: 0 auto;
        padding: 0px 30px;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5); 
        overflow-y: hidden; 
        box-sizing: border-box; 
    }
    
    .cert-header {
        display: block;
        font-size: 10pt; 
		text-align: center; 
        font-family: "Times New Roman"; 
        font-weight: bold;
        color: rgb(83, 86, 90);
    }
    .cert-logo {
        display: block;
        margin-left: 0.8cm;
        margin-right: auto;
        width: 2.8cm;
        height: 3.56cm;
    }
	.cert-logo1 {
        display: block;
        margin-Left: auto;
        width: 10.5cm;
    }

    .cert-seal {
        display: float;
        width: 4.95cm;
        margin-left: 40px;
    }
    
    .cert-content { 
        display: block;
        font-size: 18pt; 
        font-family: "Times New Roman"; 
        font-weight: bold;
        color: rgb(83, 86, 90);
        margin-left: auto;
        margin-right: auto;
    }
	 .cert-headerdet { 
        display: block;
        font-size: 18pt; 
        font-family: "Times New Roman"; 
        font-weight: bold;
        color: rgb(83, 86, 90);
        margin-left: auto;
        margin-right: auto;
    }
    
    .cert-name {
        display: block;
        font-size: 23pt; 
        font-family: "Times New Roman"; 
        font-style: italic;
		font-weight: bold;
        text-align: center;
        color: rgb(83, 86, 90);
        padding: 30px 0;
        border: 0px solid;
    }
    
    .cert-degree {
        display: block;
        font-size: 30pt; 
		font-family: "Times New Roman"; 
		font-variant: small-caps;
		font-feature-settings: smcp;
        text-align: center;
        color: rgb(203, 92, 82);
        border: 0px solid;
    }
    
    .cert-date {
        display: block;
        font-size: 15pt; 
        font-family: "Times New Roman"; 
        font-style: normal;
        text-align: center;
        color: rgb(83, 86, 90);
        border: 0px solid;
    }
    
    .cert-sig {
        display: block;
        width: 80%;
        font-size: 12pt; 
        font-family: "Times New Century"; 
        font-style: italic;
        color: rgb(83, 86, 90);
        text-align: left;
        border: 0px solid;
    }
}
