workflows:
  version: 2
#  uncomment to get build registry
#  nightly:
#    triggers:
#      - schedule:
#          cron: "0 0 * * *"
#          filters:
#            branches:
#              only:
#                - master
#    jobs:
#      - build_registry
  commit:
    jobs:
      - build
jobs:
  build_registry:
    docker:
      - image: "circleci/node:lts-browsers"
    steps:
      - checkout
      - run:
          name: build registry
          command: npm run build:registry
  build:
    docker:
      - image: "circleci/node:lts-browsers"
    steps:
      - checkout
      - run:
          name: install
          command: npm ci
      - run:
          name: lint
          command: npm run lint
      - run:
          name: test
          command: npm run test
      - run:
          name: build
          command: npm run build
      - run:
          name: integration
          command: ./scripts/integration-headless.sh
