@import '../../styles/main.scss';

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  h3 {
    border-left: 6px solid $brand-orange;
    padding-left: 2rem;
  }

  p {
    font-size: 1.125rem;
  }
}

.content-steps {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 3px;
  padding: 15px 45px;
}
