@import "../../styles/variables.scss";

h3 {
  color: #fff;
}

.main {
  max-width: 1280px;
  display: flex;
  margin: auto;
}

.description {
  padding: 3rem 4rem 3rem 0;
  p {
    padding: 1.5rem 0;
    font-size: 1.1rem;
    color: $low-translucency-white;
  }
}

h5 {
  font-weight: 700;
  padding-bottom: 1rem;
}

@media (max-width: 992px) {
  .main {
    display: block;
  }
  .description {
    padding: 3rem 5rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .description {
    padding: 2rem 0;
  }
}

.pulse {
  animation: pulse 3s infinite;
  margin: 0 auto;
  display: table;
  margin-top: 50px;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
