.partnerlogos {
  margin: 1rem;
  max-height: 2.5rem;
  padding-right: 1rem;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

#partners {
  background-color: #f7fafc;
}

.logo-container {
  max-width: 205px;
  margin: auto;
  height: 100%;
  padding: 1rem 1.2rem;

  img {
    width: 100%;
    display: block;
    margin: auto;
  }

  #CSC {
    padding: 0 2rem;
  }

  #NIEC {
    padding: 0 1.7rem;
  }

  #SIM,
  #LASALLE {
    width: 50%;
  }

  #govtech {
    width: 90%;
  }

  #NP {
    width: 85%;
  }

  #NYP,
  #SUSS,
  #SUTD,
  #SEAB {
    width: 80%;
  }

  #SP,
  #NTU,
  #NUS {
    width: 75%;
  }

  #TP,
  #RP {
    width: 70%;
  }
}
