// =====================================================================
// Mixins
// =====================================================================

@mixin btn(
  $color,
  $hover-bg: $color,
  $text: $color,
  $bg: $color,
  $hover-outline: $hover-bg
) {
  transition: background-color 0.3s $easeOutCubic;
  border: 1px solid $color;
  color: $text;
  background-color: $bg;
  padding: 7px 23px;
  border-radius: 7px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  min-width: 135px;
  cursor: pointer;

  &:hover {
    border: 1px solid $hover-bg;
    background-color: $hover-bg;
    box-shadow: 2px 2px 6px 0 #a7afb7;
    text-decoration: none !important;
    color: #fff;
  }
}

@mixin round-btn {
  transition: background-color 0.3s $easeOutCubic;
  border: 1px solid $round-btn-outline;
  background-color: #fff;
  border-radius: (50%);
  display: block;
  height: 50px;
  width: 50px;
  cursor: pointer;

  svg {
    path,
    line {
      stroke: $round-btn-outline;
    }
  }

  &:hover {
    background-color: $round-btn-outline;
    box-shadow: 2px 2px 6px 0 #a7afb7;

    svg path {
      fill: $round-btn-outline;
    }

    path,
    line {
      stroke: #fff;
    }
  }
}
