// =====================================================================
// Variables
// =====================================================================

$brand-blue: #0099cc;
$brand-orange: #ff9933;
$light-grey: #e5e5e5;
$grey-blue: #c1c9d1;
$brand-dark: #324353;
$faint-blue: #f5f8fb;
$faint-green: #f5fbf7;
$color-white: #ffffff;

$header-ui-bg: #f3f8fc;
$low-translucency-white: rgba(255, 255, 255, 0.7);

$success-color: #28a745;
$warning-color: #ffbf00;
$warning-background: #fff9e8;
$invalid-color: #e46767;
$invalid-background: #fbebe7;

$btn-outline: $brand-dark;
$round-btn-outline: $brand-dark;

$max-width: 1280px;
