$brand-blue: #0099CC;
$light-grey: #E5E5E5;
$grey-blue: #C1C9D1;
$brand-dark: #324353;
$faint-blue: #F5F8FB;
$faint-green: #F5FBF7;

$warning-color: #FFBF00;
$warning-background: #FFF9E8;
$invalid-color: #E46767;
$invalid-background: #FBEBE7;