$brand-blue: #0099CC;
$brand-orange: #FF9933;
$light-grey: #E5E5E5;
$grey-blue: #C1C9D1;
$brand-dark: #324353;
$faint-blue: #F5F8FB;
$faint-green: #F5FBF7;

$header-ui-bg: $light-grey;
$low-translucency-white: rgba(255,255,255, 0.7);

$success-color: #28a745;
$warning-color: #FFBF00;
$warning-background: #FFF9E8;
$invalid-color: #E46767;
$invalid-background: #FBEBE7;