@import '../../styles/variables.scss';

.footer {
    max-width: 1280px;
    margin: auto;

    a {
        font-family: "Montserrat", sans-serif;
        color: $grey-blue;

        &:hover {
            color: $brand-blue;
            text-decoration: none;
        }
    }

    div {
        text-align: left;
        margin-left: 2rem;
    }
}

.networkselector {
    float: right;
    margin-right: 2rem;
}

@media print{
    #footer-print {
        display:none;
    }
}
