@import "../../styles/variables.scss";

.footer {
  margin: auto;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #324353;

  a {
    font-family: "Montserrat", sans-serif;
    color: $grey-blue;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  div {
    text-align: left;
    margin-left: 2rem;
  }
}

@media print {
  #footer-print {
    display: none;
  }
}
