@import "../../styles/main.scss";

.footer {
  background-color: $brand-dark;
  color: $white;
  padding-top: 15px;
  padding-bottom: 15px;

  a {
    color: $grey-blue;

    &:hover {
      text-decoration: none;
      color: $white;
    }
  }

  h6 {
    font-weight: 700;
  }

  hr {
    border-color: rgba($white, 0.2);
  }
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo {
  max-width: 200px;
}
