.trasnciptHeaderContainerClass {
  display: flex;
}

@media only screen and (max-width: 860px) {
  .trasnciptHeaderContainerClass {
    display: block !important;
  }

  .transciptLogoClass {
    max-width: unset !important;
    max-height: unset !important;
  }

  .bottomSectionContainerClass {
    display: block !important;
  }

  .bottomSectionItemClass {
    max-width: 100% !important;
  }

  .hideMobileClass {
    display: none !important;
  }

  .signatureClass {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 500px) {
  .resultTextClass {
    font-size: 1.5rem !important;
  }

  .wrapperTrasncriptClass {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1000px) {
  .wrapperContainerClass {
    max-width: 1000px !important;
    transform: scale(0.8);
    transform-origin: left top;
  }

  .innerWrapperContainerClass {
    max-width: 100% !important;
  }

  .upperWrapperContainerClass {
    height: 130vw;
  }
}

@media only screen and (max-width: 830px) {
  .wrapperContainerClass {
    transform: scale(0.6);
  }
}

@media only screen and (max-width: 630px) {
  .wrapperContainerClass {
    transform: scale(0.4);
  }
}

@media only screen and (max-width: 430px) {
  .wrapperContainerClass {
    transform: scale(0.3);
  }
}
