@import "../styles/variables.scss";

.r-section {
  font-weight: 100;
  padding: 1rem 0rem !important;
}

.section-width {
  margin: auto !important;
  max-width: 1280px !important;
}

@media only screen and (max-width: 550px) {
  .r-section {
    font-weight: 100;
    padding: 1rem 1.1rem !important;
  }
  .m-pd-0 {
    padding: 0px !important;
  }
}
