/* 
 * 1em = 12pt = 16px = 0.3515mm
 */

$debug: false;

.nus-degree {

    @if ($debug) {
        table td {
            border: 1px solid blue; 
        }

        div {
            border: 1px solid blue; 
        }
    }
    
    font-family: Arial, Serif; 
    
    .a4-portrait { 
        background: white; 
        height: 21cm; 
        width: 28cm; 
        display: block; 
        margin: 0 auto;
        padding: 0px 30px;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5); 
        overflow-x: hidden; 
        overflow-y: hidden; 
        box-sizing: border-box; 
          color: rgb(74, 75, 76);

    }
    
    .cert-header {
        display: block;
        font-size: 11pt; 
        text-align: left; 
        margin-left: 3cm;
        font-family: "Times New Roman", Serif; 
        font-weight: bold;
        color: rgb(83, 86, 90);
        margin-right: auto;
    }
        
    .cert-logo {
        display: block;
        margin-left: 3.9cm;
        margin-right: auto;
        width: 2.8cm;
        height: 3.56cm;
    }
    .cert-logo1 {
        display: block;
        margin-Left: 3.7cm;
        width: 4.2cm;
        height: 3.4cm;
    }
    .cert-duke {
        display: block;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 2.5cm;
        height: 3cm;
    }
    .cert-duke-seal {
        display: block;
        margin-top: 10px;
        margin-left: 30px;
        width: 4.25cm;
    }
    .cert-nus {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 2.7cm;
        height: 3.2cm;
        text-shadow: 1px 0 #888888;
    }
    .cert-nus-seal {
        display: block;
        margin-top: 10px;
        margin-left: 30px;
        width: 4.25cm;
    }
    .cert-content { 
        display: block;
        font-size: 13pt; 
        font-family: "Old English Text MT", Serif; 
        font-weight: bold;
        color: rgb(74, 75, 76);
        margin-left: auto;
        margin-right: auto;
        width:auto;
    }
    
    .cert-content1 { 
        display: block;
        font-size: 13pt; 
        font-family: "Old English Text MT", Serif; 
        font-weight: bold;
        margin-top: 10px;
        line-height: 1px;
        text-Align: center;
    }
     .cert-headerdet { 
        display: block;
        font-size: 18pt; 
        font-family: "Times New Roman", Serif; 
        font-weight: bold;
        color: rgb(42, 41, 45);
        margin-left: auto;
        margin-right: auto;
    }
    
    .cert-name {
        display: block;
        font-size: 18pt; 
        font-family: "Old English Text MT", Serif; 
        font-weight: bold;
        text-align: center;
        padding: 10px 0;
        border: 0px solid;
    }
    
    .cert-degree {
        display: block;
        font-size: 18pt; 
        font-family: "Old English Text MT", Serif;
        font-feature-settings: smcp;
        text-align: center; 
        text-shadow: 1px 0 #888888; 
        line-height:50px; 
        font-weight: bold; 
        padding: 10px 0;
    }
    
    .cert-date {
        display: block;
        font-size: 15pt;
        font-family: "Old English Text MT", Serif;
        font-style: normal;
        text-align: center;
        color: rgb(74, 75, 76);
    }
    
    .cert-sig {
        display: block;
        width: 100%;
        font-size: 10pt; 
        font-family: 'Old English Text MT', Serif; 
        text-align: left;
        border: 0px solid;
        font-weight: bold;
        margin-left: 0.9cm;
    }
    .cert-td1 {
        text-align: center;
        width: 3cm;
        height: auto;
        font-family: Garamond, 'times new roman', Serif;
        font-size: 30pt;
        text-decoration: underline;
        margin-top: 5px;
        line-height: 100%;
    };
    .cert-td11 {
        text-align: center;
        font-family: arial, 'times new roman', Serif;
        font-size: 10pt;
        width: auto;
        height: auto;
        line-height: 100%;
        letter-spacing: 1pt;
     };
      .cert-table1 {
        width: 40%;
        height: 30px;
        border-collapse: collapse;
        border:1;
        }
        
    .cert-td2{
        width: 100%;
        height: 20px;
    };

    .cert-td3{
        width: auto; 
        height: auto;
        text-align: center;
        line-height: 25px;
        margin-top: 60px;
        color: rgb(74, 75, 76);
    };

    .cert-td31{
        text-align: center;
        font-size: 13pt;
        font-family: "Old English Text MT", Serif;
        display: inline !important;
    };

    .cert-td32{
        text-align: center;
        font-size: 24pt;
        font-family: "Old English Text MT", Serif;
        display: inline !important;
        line-height:70px;
    };

    .cert-td4{
        width: auto; 
        height: 77px;
        text-align: center;
        text-shadow: 1px 0 #888888;
        font-weight: bold !important;
    };

    .cert-td41{
        text-align: center;
        color: #000000;
        font-family: "times new roman", Serif;
        font-size:11pt;
        height: 12px;
        font-weight: bold;
        text-shadow: 1px 0 #888888;
    };
    
    
    .cert-td6{
        width: 100%; 
        height: 146px;
    };

    .cert-td7{
         text-align: center;
         font-size: 24pt;
         font-family: "Old English Text MT", Serif;
         display: inline !important;
         line-height:70px;
    };
}
