body {
  font-family: "Source Sans Pro", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

button:hover {
  filter: brightness(110%); }

._1UZyL-1__eA7jw8R74bhfv {
  max-width: 1280px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto; }

._3WK9DbjGChkGasXLMwBXRD {
  display: block;
  justify-content: flex-start;
  margin: 0 auto;
  background-color: #324353;
  padding: 1rem 2rem; }
  @media print {
    ._3WK9DbjGChkGasXLMwBXRD {
      display: none; } }

._1xdQCWw7o_oVZzalBtlMXC {
  font-family: "Montserrat", sans-serif; }
  ._1xdQCWw7o_oVZzalBtlMXC a {
    font-family: "Montserrat";
    color: #C1C9D1;
    font-size: 1.15rem;
    padding: 0 0 0 3.5rem !important; }

._2gteCBBGtcoz5o1BuvsB9F {
  max-width: 1280px;
  margin: 2rem auto; }
  ._2gteCBBGtcoz5o1BuvsB9F a {
    font-family: "Montserrat", sans-serif;
    color: #C1C9D1; }
    ._2gteCBBGtcoz5o1BuvsB9F a:hover {
      color: #0099CC; }
  ._2gteCBBGtcoz5o1BuvsB9F div {
    margin-bottom: 0.5rem;
    text-align: right;
    margin-right: 2rem; }
  ._2gteCBBGtcoz5o1BuvsB9F ._10eQNCQ8sdy78uarkXR-Zq {
    display: none; }

@media print {
  #_2HRkZQw4THQ3DH__nfESc6 {
    display: none; } }

