._2KkqkWQbcwHT3iLgaRS-Vr {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  height: 100%; }
  ._2KkqkWQbcwHT3iLgaRS-Vr h1 {
    color: #324353; }

._1yliCg7Qe1w43W1WkQGUp6 {
  padding: 3rem; }

._3a6IIHbQO32yBO8D8hgnSX {
  text-align: center; }

.Jsi10onAr2zw9n4pQB0YE {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.5rem 0; }
  .Jsi10onAr2zw9n4pQB0YE h4 {
    padding: 0;
    font-weight: 600;
    color: #FF9933;
    margin-bottom: 0; }

._2ayf5LCRzZF55XJuh44gQ2 {
  font-size: 1.125rem; }
  ._2ayf5LCRzZF55XJuh44gQ2 h5 {
    padding: 0;
    font-weight: 600;
    color: #5a5a5a; }

.s0OyWfWQaXGQ4S1lYFr_d {
  color: #324353; }

._3tgAzqOLir43sFMFLNKsf2 {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%; }
  ._3tgAzqOLir43sFMFLNKsf2 h3 {
    color: #324353; }

.KeIrZPOX4YVZdJ_FSslZy {
  padding-bottom: 4rem;
  padding-top: 2rem; }

._1Q4puHx5XqwDBY1DumztT {
  display: flex; }
  ._1Q4puHx5XqwDBY1DumztT div {
    text-align: center;
    font-size: 1.3rem; }
  ._1Q4puHx5XqwDBY1DumztT h3 {
    padding: 1rem 0; }

._2u4h_3fT6T9dER7xB1_VGM img {
  height: 7rem;
  padding: 0 1.5rem; }

._2u4h_3fT6T9dER7xB1_VGM svg {
  height: 7rem;
  padding: 0 1.5rem; }

._2u4h_3fT6T9dER7xB1_VGM p {
  padding: 2rem 1rem; }

._3WBB7HX9PnM2eBis9S5-CD {
  margin-top: 3rem;
  background-color: white;
  border-radius: 3px;
  border: none;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex; }
  ._3WBB7HX9PnM2eBis9S5-CD img {
    margin: 3rem auto; }

._1HcGsWkSU6QK1kh0xm_OdN {
  text-align: center !important;
  padding: 1.5rem;
  height: 100%;
  justify-content: center !important;
  flex-direction: column !important;
  display: flex !important;
  border-radius: 10px; }
  ._1HcGsWkSU6QK1kh0xm_OdN._3fxMN2IKHSEo01e-klSxOh {
    background-color: #F5F8FB;
    border: 2px dashed #0099CC;
    box-shadow: 0 0 0px 10px #F5F8FB; }
  ._1HcGsWkSU6QK1kh0xm_OdN._1iHQOFVdd8KEKhm-oIdJlO {
    background-color: #F5FBF7;
    border: 2px dashed #0099CC;
    box-shadow: 0 0 0px 10px #F5FBF7; }
  ._1HcGsWkSU6QK1kh0xm_OdN._3KD4Fj37ItvC_0_NrXl9Th {
    background-color: #FFF9E8;
    border: 2px dashed #FFBF00;
    box-shadow: 0 0 0px 10px #FFF9E8;
    color: #FFBF00; }
    ._1HcGsWkSU6QK1kh0xm_OdN._3KD4Fj37ItvC_0_NrXl9Th ._-4_E1JU5JaZGvTEI4-1kR {
      background-color: #FFBF00; }
  ._1HcGsWkSU6QK1kh0xm_OdN.jUsNpB0VwhQvPTbjpesl3 {
    background-color: #FBEBE7;
    border: 2px dashed #E46767;
    box-shadow: 0 0 0px 10px #FBEBE7;
    color: #E46767; }
    ._1HcGsWkSU6QK1kh0xm_OdN.jUsNpB0VwhQvPTbjpesl3 ._-4_E1JU5JaZGvTEI4-1kR {
      background-color: #E46767; }

._1APL7gUmvgG7SgMakDE8-8 {
  margin-bottom: 1rem; }
  ._1APL7gUmvgG7SgMakDE8-8 img {
    height: 110px; }

._3Bhaprs2wVb_fvHocIRcvI {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: #000; }
  ._3Bhaprs2wVb_fvHocIRcvI span {
    vertical-align: middle; }

._27UZ9kVDNbulOcC7xDJJ72 {
  margin-bottom: 2rem; }
  ._27UZ9kVDNbulOcC7xDJJ72 ._1Wa1oi7yhz526eESOWu3Xw {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0; }

._3gxxbzXLCMPsAj_BeP5V3K, ._-4_E1JU5JaZGvTEI4-1kR {
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 0.375rem 2rem;
  background-color: #0099CC;
  border: none;
  border-radius: 6px;
  min-width: 120px;
  color: #fff;
  margin: 0 auto; }

._-4_E1JU5JaZGvTEI4-1kR {
  cursor: pointer; }
  ._-4_E1JU5JaZGvTEI4-1kR a {
    color: #fff; }

._1lKWFnqz19WDJwiy8MtQUi {
  width: 50%;
  display: flex;
  margin: 1rem auto 0 auto; }
  ._1lKWFnqz19WDJwiy8MtQUi span {
    margin: auto; }
    ._1lKWFnqz19WDJwiy8MtQUi span a {
      font-size: 14px;
      color: #787878 !important;
      text-decoration: underline !important; }
      ._1lKWFnqz19WDJwiy8MtQUi span a:hover {
        color: #324353 !important; }

h3 {
  color: #fff; }

._3iLge-w3t0ey4Mu3WsWYnE {
  padding: 3rem 7rem 3rem 0; }
  ._3iLge-w3t0ey4Mu3WsWYnE p {
    padding: 1.5rem 0;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.7); }

h5 {
  font-weight: 700;
  padding-bottom: 1rem; }

.Iatv-BiWSl51X4y8cHykP {
  margin: 1rem;
  max-height: 2.5rem;
  padding-right: 1rem; }

._2bxRrFVgmoj-d9xbDbb4kl {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; }

