/*
 * 1em = 12pt = 16px = 0.3515mm
 */

 $debug: false;

 .nus-degree {

    @import url(//db.onlinewebfonts.com/c/e188d2a6128820510835218603bb8309?family=Garamond+Narrow);
    @font-face {font-family: "Garamond Narrow";
        src: url("//db.onlinewebfonts.com/t/e188d2a6128820510835218603bb8309.eot");
        src: url("//db.onlinewebfonts.com/t/e188d2a6128820510835218603bb8309.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/e188d2a6128820510835218603bb8309.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/e188d2a6128820510835218603bb8309.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/e188d2a6128820510835218603bb8309.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/e188d2a6128820510835218603bb8309.svg#Garamond Narrow") format("svg");
    }

    @if ($debug) {
        table td {
            border: 1px solid blue;
        }

        div {
            border: 1px solid blue;
        }
    }

    font-family: Arial, Serif;

    .a4-landscape {
        background: white;
        height: 21cm;
        width: 29.7cm;
        display: block;
        margin: 0 auto;
        padding: 0px 30px;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
        overflow-y: hidden;
        box-sizing: border-box;
    }

    .cert-header-table {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
    }

    .cert-logo {
        display: float;
        width: 13.65cm;
    }
    
    .cert-tagline {
        display: inline-block;
        text-transform: uppercase;
        font-family: 'Garamond Narrow', Garamond, 'Times New Roman', Times, serif;
        text-align: justify;
        font-size: 20pt;
        font-weight: bold;
        letter-spacing: 2pt;
    }

    .cert-content-table {
        display: float;
        font-size: 17pt;
        font-family: Garamond, 'Times New Roman', Times, serif;
        color: rgb(83, 86, 90);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100%;
    }

    .cert-content-name {
        display: float;
        font-size: 23pt;
        font-family: Garamond, 'Times New Roman', Times, serif;
        text-align: center;
    }

    .cert-degree-title {
        display: float;
        font-size: 20pt;
        font-family: 'Garamond Narrow', Garamond, 'Times New Roman', Times, serif;
        font-variant: small-caps;
        font-feature-settings: smcp;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2pt;
        color: rgb(0, 75, 141);
        border: 0px solid;
    }

    .cert-sig {
        display: float;
        width: 100%;
        font-size: 9pt;
        font-family: Garamond, 'Times New Roman', Times, serif;
        font-weight: 500;
        text-transform: uppercase;
        color: rgb(83, 86, 90);
        text-align: center;
        border: 0px solid;
    }
}
