@import '../../../styles/variables.scss';

.innerbar {
    max-width: 1280px;
    display: flex; 
    justify-content: flex-start;
    margin: 0 auto;
}

.navbar {
    display: block; 
    justify-content: flex-start;
    margin: 0 auto;
    background-color: $brand-dark;
    padding: 1rem 2rem;
}

.nav-item {
    font-family: "Montserrat", sans-serif;

    a {
        font-family: "Montserrat";
        color: $grey-blue;
        font-size: 1.15rem;
        padding: 0 0 0 3.5rem !important;
    }
}