@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  @apply font-source-sans-pro;
  @apply text-base;
}

.ease-colors {
  @apply transition-colors;
  @apply duration-200;
  @apply ease-out;
}

/* default for links that are on navy bg */
a {
  @apply ease-colors;
  @apply text-gray-400;
}

a:hover {
  @apply text-white;
}

/* helper for links that are on light bg */
.links-blue a {
  @apply text-blue;
}

.links-blue a:hover {
  @apply text-blue-300;
}

h1 {
  @apply text-xxl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

h4 {
  @apply text-md;
}

h5 {
  @apply text-sm;
}

p {
  @apply mb-4;
}

b {
  @apply font-bold;
}

.button {
  @apply ease-colors;
  @apply px-4;
  @apply py-2;
  @apply rounded;
  @apply cursor-pointer;
}

.check-empty:empty ~ .hidden {
  @apply block;
}
