@import "../../../styles/main.scss";

.sec-hero {
  padding-bottom: 40px;
  @include l-hero-padding-t;

  h5 {
    line-height: 1.4;
  }

  a {
    color: $grey-blue;
    text-decoration: underline;

    &:hover {
      color: $white;
    }
  }
}

.hero-content {
  max-width: 100%;

  @media (min-width: $lg) {
    max-width: 410px;
  }
}
